/* body {
  display: flex;
  text-align: center;
} */

/* .pedalboard-container {
  display: flex;
  align-items: flex-end;
  position: fixed;
  overflow: auto;
}
 */
/* .frameslist-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

.menu-container{
  display: flex;
  gap: 0 5%;
  align-items: center;
}

.pedals-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: scroll;
  column-gap: 60px;
}
.pedals-item{
  display: flex;
  height: 18rem;
  width: 18rem;
}

.pedalboard-container {
  display: flex;
  flex-direction: row;
  height: 35rem;
  width: 35rem;
}


.selectedpedals-img {
  display: flex;
  flex-direction: row;
  height: 18rem;
  width: 18rem;
  z-index: 1;
}

.pedalboard-img {
  height: 50rem;
  width: 50rem;
  z-index: -1;
}