body {
  background: white;
  font-family: 'Play', sans-serif;
}

.browse-button {
  position: absolute;
  margin-left: 48%;
  background-color: white;
  border: none;
  font-size: 45px;
  color: purple;
  width: 50px;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  opacity: 0.75;
  z-index: 2;
  cursor: pointer;
}
.browse-button:after {
  content: "";
  background: white;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.5s;
}
.browse-button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.background-color {
  display: flex;
  position: absolute;
  background-color: #B90000;
  height: 5vh;
  width: 95%;
  z-index: -2;
  /* box-shadow: 5px 5px 5px grey; */
}

.home-button {
  position: absolute;
  border: 2px solid #FF87F8;
  text-shadow: 0 0 10px #FF87F8, 0 0 5px teal;
  color: white;
  background-color: black;
  font-size: 25px;
  margin-top: 30px;
  margin-left: 93%;
  opacity: 0.8;
  transition-duration: 0.4s;
  font-family: 'Play', sans-serif;
}
.home-button:hover {
  background-color: white;
  color: #FF87F8;
  cursor: pointer;
}
.pb-button {
  /* display: flex; */
  color: white;
  position: absolute;
  margin-top: 0.5%;
  margin-left: 81%;
  background-color: purple;
  border: 2px solid #FF87F8;
  font-size: 20px;
  padding: 6px;
  opacity: 0.8;
  font-family: 'Play', sans-serif;
  z-index: 2;
  transition-duration: 0.4s;
}
.pb-button:hover {
  background-color: white;
  color: #FF87F8;
  cursor: pointer;
}
.submit-button {
  position: absolute;
  color: white;
  border: 2px solid #FF87F8;
  margin-left: 91%;
  margin-top: 7.4%;
  background-color: purple;
  font-size: 20px;
  padding: 6px;
  font-family: 'Play', sans-serif;
  z-index: 2;
  opacity: 0.8;
  transition-duration: 0.4s;
}
.submit-button:hover {
  background-color: white;
  color: #FF87F8;
  cursor: pointer;
}


.home-container {
  background: black;
  box-shadow: 60px -35px teal;
}

.builder-page{
  position: absolute;
  /* background: white; */
  height: 150vh;
  width: 100vw;
  overflow: scroll;
}
.builder-header {
  color: white;
  text-shadow: 0 0 10px #FF87F8, 0 0 5px teal;
  background: linear-gradient(to right, black, grey, white);
  width: 19vw;
  padding: 10px;
  margin-left: 2%;
  font-family: 'Play', sans-serif;
}
.builder-head-layer {
  position: absolute;
  color: #FF87F8;
  background: linear-gradient(to right, #FF87F8, white);
  width: 18vw;
  padding: 10px;
  margin-left: 1.5%;
  margin-top: 2%;
  height: 35px;
  z-index: -2;
  opacity: 0.8;
}


.menu-container {
  text-shadow: 0 0 10px skyblue, 0 0 5px teal;
  color: white;
  background: linear-gradient(to right, black, white, white);
  color: black;
  display: flex;
  gap: 0 3%;
  align-items: center;
  z-index: 1;
  cursor: pointer;
}
.builder-nav-layer {
  position: absolute;
  color: purple;
  background: linear-gradient(to right, purple, white);
  width: 42vw;
  padding: 10px;
  margin-left: 1.5%;
  margin-top: 0.50%;
  height: 25px;
  z-index: -2;
  opacity: 0.8;
}


.signal-container {
}
.signal-text {
  display: flex;
  font-family: 'Play', sans-serif;
  font-size: 10px;
}

.pedals-container{
  background: linear-gradient(180deg, white, grey, white);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: scroll;
  column-gap: 2px;
  margin-top: 7%;
  padding-bottom: 3%;
  /* margin-left: 2%;
  margin-right: 2%; */
  /* border: 5px solid black; */
}
.pedals-item{
  display: flex;
  margin-top: 13vh;
  height: 11rem;
  width: 11rem;
}
.pedals-item:hover {
  opacity: 1;
}


.pb-window {
  display: flex;
  /* position: absolute; */
  /* height: 50rem;
  width: 50rem; */
  height: 800px;
  width: 1500px;
}

.pb-img {
  /* background: black; */
  position: absolute;
  height: 800px;
  width: 1500px;
  margin-right: 5%;
  z-index: -1;
}

.selectedpedals-container {
  display: flex;
  flex-wrap: wrap-reverse;
  /* margin-top: 25%;
  margin-left: 80%; */
  margin-top: 5%;
  margin-left: 3%;
  overflow: hidden;
  /* flex-direction: row-reverse; */
}
.selectedpedals-container:hover {
  /* border: 5px solid pink; */
}

.selectedpedal {
  height: 18rem;
  z-index: 1;
}

.home-container > h1 {
  display: block;
  color: white;
  font-size: 60px;
  text-align: left;
  margin-top: 5%;
  margin-left: 2%;
  height: 25px;
  max-width: 40%;
  text-shadow: 0 0 10px skyblue, 0 0 5px teal;
}
.nav-img-container-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-image: linear-gradient(100deg, #393939, #999999, #E2E2E2);  */
  transform: skewY(-11deg);
  overflow: hidden;
  max-height: 65vh;
  max-width: 88vw;
  margin-top: 4%;
  margin-left: 2%;
  box-shadow: 1rem 1rem #FF87F8, -1rem -1rem purple;
}
.nav-img-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-image: linear-gradient(200deg, #393939, #999999, #E2E2E2);  */
  transform: skewY(-11deg);
  overflow: hidden;
  max-height: 65vh;
  max-width: 88vw;
  margin-left: 10%;
  z-index: -1;
  box-shadow: 1rem 1rem orange, -1rem -1rem #FFF300;
}
.nav-img-1 {
  height: 100vh;
  width: 180vh;
  transform: skewY(11deg);
  filter: grayscale(100%);
}
.nav-img-2 {
  margin-top: 6%;
  height: 100vh;
  width: 180vh;
  transform: skewY(11.5deg);
  filter: grayscale(100%);
}
.nav-img-1:hover, .nav-img-2:hover {
  filter: grayscale(0%);
  transform: scale(3);
  transition: transform 100s ease-out;
}


.nav-text-1 {
  position: absolute;
  margin-top: 3%;
  margin-left: 65%;
  border: 2px solid white;
  color: white;
  padding: 1% 1%;
  max-width: 50%;
  font-size: 60px;
  z-index: 1;
  opacity: 0.75;
  background-color: rgba(45, 51, 61, 0.8);
}
.nav-text-2 {
  position: absolute;
  margin-top: 60%;
  margin-left: 3%;
  border: 2px solid white;
  color: white;
  padding: 1% 1%;
  max-width: 30%;
  font-size: 60px;
  z-index: 1;
  opacity: 0.75;
  background-color: rgba(45, 51, 61, 0.8);
}

.menu-container {
  display: flex;
  position: absolute;
  color: white;
  text-shadow: 0 0 10px purple, 0 0 5px purple;
  font-size: 25px;
  width: 90%;
  flex-direction: row;
  justify-content: start;
  margin-left: 2%;
  z-index: 1;
  padding: 3px;
}

.dropdown-list {
  background-image: linear-gradient(#EFEFEF,#EFEFEF);
  background-size: 0 100%;
  background-repeat: no-repeat;
  /* transition: .4s; */
  transition-duration: 0.3s;
  padding: 5px;
}
.dropdown-list:hover {
  background-color: white;
}
.frameslist-container {
  background: black;
  color: white;
  position: absolute;
  font-size: 23px;
  align-content: start;
  opacity: 0.8;
  margin-top: 0.1%;
  padding-right: 25px;
  box-shadow: 3px 3px 3px 1px black; 
}
.brands-container {
  background: black;
  color: white;
  position: absolute;
  font-size: 23px;
  align-content: start;
  opacity: 0.8;
  margin-top: 0.1%;
  padding-right: 25px;
  box-shadow: 3px 3px 3px 1px black; 
}
.fx-container {
  background: black;
  color: white;
  position: absolute;
  font-size: 23px;
  align-content: start;
  opacity: 0.8;
  margin-top: 0.1%;
  padding-right: 25px;
  box-shadow: 3px 3px 3px 1px black; 
}

.brands-item {
  background-image: linear-gradient(#FF87F8,#FF87F8);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: .2s;
}
.brands-item:hover {
  background-size: 100% 100%;  
  opacity: 1;
  box-shadow: 0px 3px 0px 0px white; 
}

.fx-item {
  background-image: linear-gradient(#FF87F8,#FF87F8);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: .2s;
}
.fx-item:hover {
  background-size: 100% 100%;  
  opacity: 1;
  box-shadow: 0px 3px 0px 0px white; 
}

.frameslist-item {
  background-image: linear-gradient(#FF87F8,#FF87F8);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: .2s;
}
.frameslist-item:hover {
  background-size: 100% 100%;  
  opacity: 1;
  box-shadow: 0px 3px 0px 0px white; 
}

.collect-home-btn {
  /* position: absolute;
  border: 2px solid #FFF300;
  color: white;
  background-color: orange;
  font-size: 25px;
  margin-top: 30px;
  margin-left: 93%;
  opacity: 0.8;
  transition-duration: 0.4s;
  font-family: 'Play', sans-serif; */
}
.collect-home-btn:hover {
  /* background-color: black;
  color: #FFF300;
  cursor: pointer; */
}

.collection-header {
  /* color: white;
  text-shadow: 0 0 10px orange, 0 0 5px #FFF300;
  background: linear-gradient(to right, black, grey, white);
  width: 19vw;
  padding: 10px;
  margin-left: 2%;
  position: absolute;
  font-family: 'Play', sans-serif; */
}
.collection-head-layer {
  /* position: absolute;
  background: linear-gradient(to right, orange, white);
  width: 18vw;
  padding: 10px;
  margin-left: 1.5%;
  margin-top: 2.25%;
  height: 35px;
  z-index: -1;
  opacity: 0.8; */
}

.config-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: scroll;
  border: 3px solid black;
  width: 60%;
  margin-top: 10%;
  margin-left: 20%;
  gap: 10px;
  opacity: 0.8;
  transition: .5s;
}
.config-container:hover {
  opacity: 1;
}
.config-item {
  height: 12rem;
}

.model-text {
  font-family: 'Play', sans-serif;
  font-size: 25px;
  text-align: center;
  opacity: 0.5;
  transition: 1.5s;
}
.model-text {
  opacity: 1;
}
.effect-text {
  font-family: 'Play', sans-serif;
  font-size: 15px;
  text-align: center;
  opacity: 0.5;
  transition: 1.5s;
}
.effect-text:hover {
  opacity: 1;
}

/* .whitescreen {
  position: absolute;
  z-index: 1;
  background-color: rgb(243, 243, 243);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
}   */
