/* body {
  display: flex;
  text-align: center;
} */

/* .pedalboard-container {
  display: flex;
  align-items: flex-end;
  position: fixed;
  overflow: auto;
}
 */
/* .frameslist-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

.menu-container{
  display: flex;
  gap: 0 5%;
  align-items: center;
}

.pedals-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* max-height: 25rem;  */
}
.pedals-item{
  display: flex;
  height: 20rem;
  width: 20rem;
}